:root{
  --color-text-default: #333;
  --color-text-active: #aaa;
  --color-bg: #fffafa;
  --color-border: #aaa;
}

#menubutton, #closebutton, #menulist {
  text-align: center;
  font-family: sans-serif;
}

#menubutton_wrap, #closebutton_wrap {
  z-index: 3;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: var(--color-text-default);
  background-color: var(--color-bg);
  border: solid 2px var(--color-border);
  border-radius: 50%;
}

#menubutton_wrap:hover, #menubutton_wrap:active, #closebutton_wrap:hover, #closebutton_wrap:active {color: var(--color-text-active);}

#menubutton_icon, #closebutton_icon {
  position: relative;
  top: -10px;
  left: 0px;
  font-size: 16pt;
}

#menulist{
  z-index: 3;
  position: fixed;
  top: 80px;
  right: 10px;
  background: var(--color-bg);
  font-size: 9.5pt;
  margin: 0;
  padding: 0;
}

#menulist table {border-collapse: collapse;}

#menulist td {border: solid 2px var(--color-border);}

#menulist a {
  display: block;
  padding: 4px 0;
  text-decoration: none;
  color: var(--color-text-default);
}

.linktext {padding: 0 4px;}

#menulist a:active, #menulist a:hover {color: var(--color-text-active);}

main{

}


.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fffacd;
    border-left: solid 10px #deb887;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

}

.shop_image{
  height:100%; 
}

.image_box{
  height: 400px;
}

li{ 
  list-style: none;
}

li a{
  font-size: 11pt;
}

